*
{
	margin: 0px;
	padding: 5px;
}

body {
	background-color: gray;
}

.Navigation {
	overflow: hidden;
	background-color: darkred;
	position; fixed;
}

.Navigation a {
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	border-bottom: 3px solid transparent;
}

.Navigation a:hover {
	border-bottom: 5px solid lime;
}

.Navigation a.active {
	border-bottom: 5px solid lime;
}

.Big_Heading {
	font-family: fantasy;
	background-color: purple;
}


.Article {
	font-size: 25px;
	text-align: center;
}

